<div class="btn-toolbar">

    <div class="btn-group">
        <a class="btn btn-primary" data-original-title="{{'collapse' | translate}}" ng-click="toggleIndication();"><i class="fa fa-angle-double-right"></i></a>

        </div>
        <div class="btn-group">
             


            <a class="btn" data-original-title="Align Right" ng-click="toggleCaptureNavigation()"
                ng-class="{'btn-primary': !ActiveFeedInformation.Configuration.CaptureNavigation,
                                   'btn-success': ActiveFeedInformation.Configuration.CaptureNavigation }"
               ><i class="fa fa-gamepad"></i></a>



            <a class="btn"
               ng-class="{'btn-primary': !ActiveFeedInformation.Configuration.Annotate,
                                   'btn-success': ActiveFeedInformation.Configuration.Annotate }"
               data-original-title="{{'show annotations' | translate}}" ng-click="toggleAnnotations()"><i class="fa fa-comments"></i></a>
            <a class="btn btn-primary" ng-click="popVideo()"><i class="fa fa-video-camera"></i></a>
            <a class="btn btn-primary" title="{{'Share url' | translate}}" data-toggle="modal" data-target="#myModal"><i class="fa fa-share"></i></a>
            <a class="btn btn-primary" title="{{'Share url' | translate}}" data-toggle="modal" data-target="#configModal"><i class="fa fa-cogs"></i></a>


            <a class="btn btn-default" data-ng-click="disconnectTab()"><i class="fa fa-remove"></i></a>



        </div>
    </div>