<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">
        <button class="btn btn-primary btn-xs" routerLink="/adscript/manage/create">
          + New Script</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of collectionData">
      <th scope="row">
        <a [routerLink]="[row.ID, 'details']">{{row.Name}}</a>

        <td>
          {{row.Description}}

        </td>
        <td>
          <a class="btn btn-danger" (click)="remove(row.ID)">
            <i class="oi oi-trash white"></i>
          </a>
        </td>
    </tr>

  </tbody>
</table>



<!-- 
 
<app-dynamic-table [columns]="tableColumns" [tableData]="collectionData"></app-dynamic-table> -->