


/*#juntasiframeindication {
    position: fixed;
    bottom: 0;
    border: 0 none;
    width: 40px;
    height: 200px;
    background-color: transparent;
    z-index: 2999999999;
}*/

#juntasindicationiframe {
    width: 40px;
}

.juntasindication-open #juntasindicationiframe {
    width: 500px;
    height: 500px;
}

.juntasindication-collapse {
    position: fixed;
    bottom: 0;
    border: 0 none;
    width: 40px;
    height: 140px;
    background-color: transparent;
    z-index: 2999999999;
}


.juntasindication-open {
    position: fixed;
    bottom: 0;
    border: 0 none;
    width: 500px;
    height: 500px;
    background-color: transparent;
    z-index: 2999999999;
}



#juntas {
    position: fixed;
    bottom: 0;
    border: 0 none;
    width: 350px;
    height: 100%;
    background: white;
    z-index: 2999999999;
}

    #juntas.right, #juntasiframeindication.right {
        right: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #juntas.left, #juntasiframeindication.left {
        left: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

#juntasiframeindication.collapse {
}

#juntas.collapse {
    position: fixed;
    bottom: 0;
    right: -300px;
    border: 10px solid black;
    width: 300px;
    height: 400px;
    background: white;
}

#juntas.right iframe, #juntasiframeindication.right iframe {
    float: right;
}

#juntas iframe {
    height: 100%;
    width: 100%;
    overflow: auto;
    border: 0;
}


#juntas.right .side-buttons,
#juntasiframeindication.right .side-buttons {
    width: 20px;
    float: right;
}


.juntas-collapse {
    position: absolute;
    right: 0px;
    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 1s forwards;
    animation-delay: 0s;
}

@-webkit-keyframes slide {
    100% {
        width: 50px;
    }
}

@keyframes slide {
    100% {
        width: 50px;
    }
}


body.juntas {
    padding-right: 300px !important;
}

body.juntasiframeindication {
}


.juntas_annotation {
    border: 1px dashed rgba(0,0,0,.2) !important;
    min-height: 80px !important;
    width: 100% !important;
}

.juntas_note {
    display: none;
    width: 200px !important;
    position: absolute !important;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12) !important;
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 5px !important;
    background-color: #fff !important;
    margin-top: 5px !important;
    margin-left: -8px !important;
    border-radius: 15px !important;
    padding-left: 10px !important;
}

.juntas_avatar {
}

    .juntas_avatar img {
        max-width: 50px !important;
        max-height: 50px !important;
        border-radius: 15px !important;
    }

.juntas_avatar_small {
    font-size: 11px !important;
}

    .juntas_avatar_small img {
        max-width: 20px !important;
        max-height: 20px !important;
        border-radius: 15px !important;
        vertical-align: middle !important;
    }

.juntas_pop_note > div > p {
    margin: 0 !important;
}

.juntas_pop_note {
    border-radius: 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.19) !important;
    display: inline-block !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin: 0 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.juntas_pop_note_open .juntas_note {
    display: block !important;
}

.juntas_expose {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12) !important;
}


.expose-overlay {
    background: rgba(0,0,0,0.6);
    z-index: 9999;
}


.juntas-hide
{
    display:none;
}

#juntas_page_loader
{

    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity: 1;
    background-color: #fff;
    position: absolute;
    width: 100%;

}
.sampleContainer {
  padding-top: 250px;
}

.loader {
  position: relative;
  width: 230px;
  height: 50px;
  margin: 60px auto;
}

.dot {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #ccc;
  position: absolute;
}

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 60px;
  background: #e579b8;
}

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 120px;
  background: #e8ccdc;
}

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 60px;
  background: #48699e;
}

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 120px;
  background: #636c7a;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-60px);
  }
  25% {
    transform: rotate(180deg) translateX(-60px);
  }
  75% {
    transform: rotate(180deg) translateX(-60px);
  }
  100% {
    transform: rotate(360deg) translateX(-60px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-60px);
  }
  25% {
    transform: rotate(-180deg) translateX(-60px);
  }
  75% {
    transform: rotate(-180deg) translateX(-60px);
  }
  100% {
    transform: rotate(-360deg) translateX(-60px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(60px);
  }
  25% {
    transform: rotate(180deg) translateX(60px);
  }
  75% {
    transform: rotate(180deg) translateX(60px);
  }
  100% {
    transform: rotate(360deg) translateX(60px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(60px);
  }
  25% {
    transform: rotate(-180deg) translateX(60px);
  }
  75% {
    transform: rotate(-180deg) translateX(60px);
  }
  100% {
    transform: rotate(-360deg) translateX(60px);
  }
}
