/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-block-transitions {
    transition: 0s all !important;
    -webkit-transition: 0s all !important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
    display: block !important;
}

.inline-block {
    display: inline-block;
}

html {
    width: 790px;
    height: 600px;
}

body {
    width: 790px;
    height: 600px;
    padding-top: 70px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #9B99BD;
    overflow: hidden;
}

    body::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    body::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.26);
    }

.scroll-height {
    overflow: auto;
    height: 310px;
}

.button-bar {
    margin-left: 50px;
    display: inline;
}

.scroll-height::-webkit-scrollbar {
    height: 8px;
    width: 10px;
}

.scroll-height::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.26);
}

.panel-heading {
    border-bottom: 1px solid #e5e3e3;
    font-size: 14px;
}

section {
    clear: both;
}

.padding10 {
    padding-right: 10px;
    padding-left: 10px;
}

.padding5 {
    padding: 5px;
}

.brandlogo {
    width: 48px;
    height: 48px;
}

.login-panel {
    width: 300px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
}



h3, .h3 {
    font-size: 20px !important;
}

.plus {
    cursor: pointer;
    text-decoration: none;
}

.icon-big {
    font-size: 16px !important;
    line-height: 16px !important;
}

.row-block {
    width: 184px;
    float: right;
}

section.rules ul li {
    background-color: #f5f5ff;
    border-bottom: 1px solid #e5e3e3;
}

section.properties ul li {
    background-color: #f5f5ff;
    border-bottom: 1px solid #e5e3e3;
}

    section.properties ul li strong:first-child {
        background-color: #f5f555;
    }


.settings-icon {
    font-size: 24px;
}

.badge-btn {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}


.rule-block {
    padding: 5px;
    border-left: 3px solid #666666;
}


.input-group-values {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: left;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    display: table;
    background-color: inherit;
}

.clear {
    width: 100%;
    clear: both;
}


.input-group-addon, .input-group-value {
    font-size: 11px !important;
}

.input-group-values span, .input-group-values strong {
    font-size: 11px;
}

.input-group-value {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    display: table-cell;
    background-color: inherit;
}

.hide {
    display: none;
}

.small-abbr {
    background-color: white !important;
    padding-left: 5px;
    font-size: 9px;
}

.property-block {
    padding: 5px;
    border-left: 3px solid #CCCCCC;
}


.list-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

div.file-header {
    padding: 5px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e3e3;
    border-left: 3px solid #000000;
}

#scroll {
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}

.collapseandscroll {
    display: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-top: 3px !important;
}

li.filenode {
    border: 1px solid #908AFF;
    padding: 3px;
    margin: 3px;
}

.loaded {
    background-color: green;
    color: #fff;
}

.forceltr {
    direction: ltr !important;
}

.well a {
    display: block;
    margin: 10px;
}

sup {
    margin-top: 5px;
}

.scrolled-list {
    max-height: 200px;
    overflow: auto;
}


.panelheight {
    height: 350px;
}

#signinBtn {
    bottom: 38px;
    position: absolute;
}

.errorpanel .panel-body {
    padding: 5px !important;
}


.popup-avatar {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 70px;
    max-height: 70px;
}

/*.avatar-frame{border: 2px solid #c7b89e;}*/
.avatar-frame, .avatar-frame img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.groups a {
    margin-right: 4px;
    margin-left: 4px;
}

a {
    cursor: pointer;
}

.btn-footer {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 2px !important;
}

.tour-tip {
    width: 40%;
    z-index: 2000 !important;
}


.feed-badge {
    white-space: nowrap;
}

.tour-content-wrapper .btn {
    margin: 10px;
}

.tour-content-wrapper pre {
    overflow: inherit;
    background: inherit;
    font: inherit;
    display: block;
    padding: 0px;
    margin: 0 0 0px;
    font-size: inherit;
    line-height: inherit;
    word-break: break-all;
    color: inherit;
    border: inherit;
    border-radius: inherit;
}


.well.login-info {
    padding: 5px !important;
    margin-bottom: 5px;
    max-height: 60px;
}

    .well.login-info img {
        margin: 0;
        margin-right: 5px;
        margin-left: 5px;
        height: 45px;
        width: 45px;
    }
