/* Include this file in your html if you are using the CSP mode. */

@charset "UTF-8";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}

ng\:form {
    display: block;
}

.ng-animate-block-transitions {
    transition: 0s all !important;
    -webkit-transition: 0s all !important;
}



.new-message {
    -webkit-animation-name: new-message-attention; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    animation-name: new-message-attention;
    animation-duration: 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes new-message-attention {
    from {
        background-color: #d1d1c3;
    }

    to {
        background-color: inherit;
    }
}

/* Standard syntax */
@keyframes new-message-attention {
    from {
        background-color: #d1d1c3;
    }

    to {
        background-color: inherit;
    }
}



/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
    display: block !important;
}

.navbar-brand {
    white-space: nowrap;
}

.sharebox {
    font-size: 10px !important;
}

.navbar-brand {
    font-size: 1.5em !important;
}

.clear {
    clear: both;
    display: inline-flex;
}

.textarea {
    width: 100%;
}

.panel {
    margin-bottom: 0 !important;
}

.textarea textarea {
    height: 100px !important;
    border: 1px solid #cccccc !important;
    margin-bottom: 7px;
}

.textarea.panel-body {
    padding: 0 !important;
}

.body-expand {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}


body {
    overflow: hidden;
}

::-webkit-scrollbar {
    height: 12px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}

a {
    cursor: pointer;
}

#chatscrollItem{
    margin-top:8px;

}
.content-scroll-item,
.content-scroll {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 5px;
}

    .content-scroll-item.list-group,
    .content-scroll.list-group {
        margin-bottom: 5px !important;
    }

    .content-scroll label {
        font-size: .9em;
        line-height: 20px;
    }

    .content-scroll p {
        font-weight: 800;
    }

small, .small {
    font-size: 70% !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.body-expand {
    width: 100%;
}

    .body-expand .container-fluid {
        padding-left: 5px !important;
        padding-right: 5px !important;
        width: 100%;
    }

.btn-lg, .btn-group-lg > .btn {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.margin-right-10px {
    margin-right: 10px;
}

.margin-left-10px {
    margin-left: 10px;
}

.padding-bottom {
    /*padding-top: 20px;*/
}

.postarea {
    display: block;
    /*margin-top: 40px;
    width: 280px;*/
}

.nav > li > a {
    padding: 10px 10px !important;
}

.url-image {
    text-align: center;
    max-width: 260px;
    max-height: 200px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

.slider-components {
    display: none;
}

/*@media (max-width: 50px) {
    .slider-components {
        display: block !important;
    }
}

@media (max-width: 300px) {
    .slider-full {
        display: block !important;
    }
}*/


/*.avatar-frame{border: 2px solid #c7b89e;}*/
.avatar-frame, .avatar-frame img {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}


/*.avatar-frame{border: 2px solid #c7b89e;}*/
.feed-frame, .feed-frame img {
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-border-radius: 2px; /* Saf3+, Chrome */
    border-radius: 2px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.limited-brand {
    padding-top: 5px !important;
    max-width: 240px;
    overflow: hidden;
    font-size: 13px !important;
}

.comment-header {
    width: 100%;
    height: 40px;
    clear: both;
}

    .comment-header .avatar-frame {
        margin-right: 10px;
        margin-left: 10px;
    }


.rtl {
    font-size: 12px !important;
    line-height: 15px;
    direction: rtl;
}

.ltr {
    font-size: 11px !important;
    line-height: 15px;
    direction: ltr;
}


/*
    @media screen and (max-width:50px) {

    .slider-full {
        border: 1px solid red;
        transform: rotate(90deg);
    }

    nav {
        border: 1px solid blue;
        transform: rotate(90deg);
        height: 50px !important;
    }
}*/


.vertical-container {
    position: absolute !important;
    top: 191px;
    bottom: 123px;
}


.top-btn-1 {
    padding: 10px;
    position: absolute !important;
    height: 54px;
    top: 91px;
}

.top-btn-2 {
    padding: 0px!important;
    position: absolute !important;
    height: 54px;
    top: 145px;
}

.bottom-btn-1 {
    position: absolute !important;
    height: 34px;
    bottom: 0px;
}

.bottom-btn-2 {
    position: absolute !important;
    bottom: 41px;
    height: 34px;
}

.bottom-btn-3 {
    position: absolute !important;
    bottom: 82px;
    height: 34px;
}

.btn-group-vertical {
    height: 100vh;
    position: relative;
    width: 50px !important;
}

.vertical-text {
    direction: ltr;
    transform: rotate(90deg);
    max-width: 15px !important;
    font-size: 22px;
    margin-left: 11px;
}
/* Custom dialog/modal headers */

.dialog-header-error {
    background-color: #d2322d;
}

.dialog-header-wait {
    background-color: #428bca;
}

.dialog-header-notify {
    background-color: #eeeeee;
}

.dialog-header-confirm {
    background-color: #333333;
}

    .dialog-header-error span, .dialog-header-error h4,
    .dialog-header-wait span, .dialog-header-wait h4,
    .dialog-header-confirm span, .dialog-header-confirm h4 {
        color: #ffffff;
    }




video {
    width: 100%;
    height: 100%;
}

.juntas-badge {
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.vertical {
    height: 100vh;
    /*width: 50px;*/
}

.vertical-box {
    min-height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 15%;
}

.vertical-box-s {
    max-height: 25px;
    vertical-align: middle;
    display: inline-block;
    /*padding-top: 15%;*/
    max-width: 25px !important;
}

.f20 {
    font-size: 20px !important;
}

.juntas-tabs {
    width: 100%;
}

.feed-name {
    font-size: 22px;
}

.juntas-tabs a {
    white-space: nowrap;
}
/*#JuntasvideoCtrl
{
    padding-top: 100px;

}*/
.juntas-tabs li {
    text-align: center;
    width: 25%;
}

.feed-btn label {
    cursor: pointer !important;
}

.feed-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    width: 100%;
    padding: 6px 6px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.margin-2 {
    margin: 2px;
}

.feed-image {
    width: 80px;
    height: 80px;
}


.feed-background {
    height: 80px;
    display: block;
    overflow: hidden;
    position: relative;
}


.feed-background:hover {
    /*display: block;
    overflow: visible;
    position: relative;*/
}


.feed-background:hover .feed-background-image {
    width: 100%;
    max-height: 200px;
    opacity: 1;
    z-index: 1;
    position: static;
   display: block;
    overflow: visible;
    position: relative;

}

.feed-background-image {
    width: 100%;
    max-height: 200px;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
}

.feed-background:hover .feed-background-tabs {
    position: absolute;
    z-index: 2000;
    top: 237px;
    background: inherit;
    background-color: inherit;


}
.feed-background-tabs {
    position: absolute;
    z-index: 1000;
    top: 37px;
    background: inherit;
    background-color: inherit;
}

.feed-background-edit {
    position: absolute;
    z-index: 1001;
}


.no-margin {
    margin: 0 !important;
}



 