<div class="container-fluid">


  <tabset>
    <tab heading="Info" id="tab_info">
      <app-info [info]="info" [code]="code" [variables]="variables" (notify)="onInfo($event)"></app-info>
    </tab>
    <tab heading="Code" id="tab_editor">
      <app-editor [code]="code" (notify)="onCode($event)"></app-editor>
    </tab>
    <tab heading="Variables" id="tab_variables">
      <app-variables [mode]="'edit'" [variables]="variables" (notify)="onvariables($event)"></app-variables>
    </tab>
  </tabset>
  <div class="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-xs">Action</button>
      <button type="button" class="btn btn-success btn-xs dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item">
          <span class="btn btn-success btn-xs" (click)="_Save(false)">Save</span>
        </a>
        <a class="dropdown-item">
          <span class="btn btn-primary btn-xs" (click)="_Save(true)">Save & finish</span>
        </a>
        <a class="dropdown-item">
          <span class="btn btn-success btn-xs" (click)="_Execute()">
            <span class="oi oi-media-play"></span> Test Execution</span>
          </a>
        <!-- <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a> -->
      </div>
    </div>


    <!-- <a class="btn btn-primary btn-xs" (click)="_Save()">
      <span class="oi oi-loop-square"></span> Save</a> -->

  </div>
  <div *ngIf="testResult">
    <div>{{testResult.message}}</div>
    <div>{{testResult.stack}}</div>
  </div>
</div>


<!-- 


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="Code-tab" data-toggle="tab" href="#Code" role="tab">Code</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="Info-tab" data-toggle="tab" href="#Info" role="tab">Info</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" id="Variables-tab" data-toggle="tab" href="#Variables" role="tab">Variables</a>
  </li>
</ul> -->
<!-- <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="Code" role="tabpanel" aria-labelledby="Code-tab">
    <app-editor></app-editor>
  </div>
  <div class="tab-pane fade " id="Info" role="tabpanel" aria-labelledby="Info-tab">

  </div>

  <div class="tab-pane fade" id="Variables" role="tabpanel" aria-labelledby="Variables-tab">
    <app-variables></app-variables>
  </div>
</div> -->