<a class="btn btn-primary" (click)="installDialog(template, script)">
  <i class="oi oi-data-transfer-download text-white"></i>
</a>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> {{script.Name}}</h4>
    <a type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">

    <textarea class="form-control" id="InstallScript"></textarea>
    <div style="overflow: auto; height: 450px;">
      <app-embed-list [list]="embedList" [script]="script"></app-embed-list>

      <!-- embeded -->
    </div>
   



    <!-- <a class="btn btn-md btn-primary" (click)="createEmbed()">Create embed script</a> -->

  </div>
</ng-template>