<div class="panel panel-primary" data-ng-show="displayState('Manage',UImode)">
    <div class="panel-heading padding10">
        {{"My groups" | translate}}
        <div class="button-bar">
            <a class="btn btn-primary" id="createbtn" ng-class="{'active': UImode == 'Manage.Create'}" ng-click="UImode = 'Manage.Create'"><i class="fa fa-plus"></i> {{"Create" | translate}}</a>
            <a class="btn btn-primary" id="joinbtn" ng-class="{'active': UImode == 'Manage.Join'}" ng-click="UImode = 'Manage.Join'"><i class="fa fa-search-plus"></i> {{"Join" | translate}}</a>
        </div>
    </div>
    <div class="scroll-height">




        <div class="panel-body" data-ng-show="displayState('Manage.List',UImode)">
            <form class="form">
                <div class="input-group pull-left">
                    <span class="input-group-addon" id="basic-addon1">{{"Filter" | translate}}:</span>
                    <input type="text" ng-model="MyGroupsFilter" class="form-control" />
                    <span class="input-group-addon" id="basic-addon1">
                        <label>
                            {{"Just my groups"| translate}}
                            <input type="checkbox" ng-model="MyGroupsOwnerMode" />
                        </label>
                    </span>
                </div>
            </form>
        </div>

        <div class="panel-body padding10" data-ng-show="displayState('Manage.List',UImode)">
            <div class="page-header" ng-if="FollowedFeeds.length ==0">
                {{"No Followed Groups" | translate}}
            </div>


            <div class="list-group">
                <div ng-repeat="item in FollowedFeeds | filter: MyGroupsCutomFilter(User._id, MyGroupsFilter, MyGroupsOwnerMode)   " class="list-group-item"
                    ng-if="item.Configuration.Discovery !== 'p2p'">
                    <!--data-ng-if="User._id !== item.UserId && !MyGroupsOwnerMode && item.Configuration.Discovery !== 'p2p'"-->
                    <div class="groups" data-ng-if="User._id !== item.UserId && !MyGroupsOwnerMode">


                        <div class="avatar-frame pull-left">

                            <img ng-src="{{item.User.Picture.data.url}}" />
                        </div>


                        <label class="padding5 pull-left">
                            <strong> {{item.Name}}</strong>
                        </label>






                        <div class="pull-right">

                            <a class="btn btn-danger btn-sm pull-right" data-ng-if="User._id !== item.UserId" data-ng-click="Unsubscribe(item)" title="{{'Unsubscribe' | translate}}"><span class="fa  icon-big" ng-class="{'fa fa-circle-o-notch fa-spin': item.deleting,'fa fa-trash': !item.deleting}"></span>                                </a>
                            <a class="btn btn-warning btn-sm pull-right" data-ng-if="User._id !== item.UserId" data-toggle="modal" data-target="#subscriptionConfigurationModal"
                                data-ng-click="ConfigureSubscription(item)" title="{{'Configure' | translate}}"><span class="fa fa-cogs icon-big"></span> </a>
                            <a class="btn btn-info btn-sm pull-right" data-ng-if="User._id !== item.UserId" data-ng-click="Reconnect(item)" title="{{'Reconnect' | translate}}"><span class="fa fa-eye icon-big"></span> </a>
                        </div>

                        <small class="pull-right badge feed-badge">
                            {{item.Description}} <span class="fa fa-gamepad icon-big"></span> {{"by" | translate}} <label>{{item.User.Name}}</label>
                        </small>

                        <div class="clear"></div>
                    </div>
                    <div class="groups" data-ng-if="User._id === item.UserId &&  item.Configuration.Discovery !== 'p2p'">
                        <div class="avatar-frame pull-left">

                            <img ng-src="{{item.User.Picture.data.url}}" />
                        </div>


                        <label class="padding5 pull-left">
                            <strong> {{item.Name}}</strong>
                            <br />
                            <small>
                                {{item.Description}}


                            </small>


                        </label>


                        <small class="pull-left badge feed-badge">
                            <span class="fa fa-gamepad icon-big"></span>
                            {{"by" | translate}}

                            <label>{{item.User.Name}}</label>
                        </small>

                        <a class="btn btn-danger btn-sm pull-right" data-ng-if="User._id === item.UserId" data-ng-click="DeleteGroup(item)" title="{{'Delete' | translate}}"><span class="fa fa-trash icon-big"></span></a>
                        <a class="btn btn-warning btn-sm pull-right" data-ng-if="User._id === item.UserId" data-toggle="modal" data-target="#groupConfigurationModal"
                            data-ng-click="ConfigureGroup(item)" title="{{'Configure' | translate}}"><span class="fa fa-cogs icon-big"></span></a>
                        <a class="btn btn-success btn-sm pull-right" data-ng-if="User._id === item.UserId" data-ng-click="Reconnect(item)" title="{{'Reconnect' | translate}}"><span class="fa fa-gamepad icon-big"></span></a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary" ng-if="displayState('Manage.Create',UImode)">

            <div class="panel-body padding10">
                <form class="form" name="CoBrowseForm">
                    <div class="row">


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{'has-error':(submitted || CoBrowseForm.FeedName.$touched) && CoBrowseForm.FeedName.$error.required }">
                            <label for="FeedName">{{"Name" | translate}}:</label>

                            <label class="pull-right text-danger" ng-show="submitted || CoBrowseForm.FeedName.$touched">
                        <span ng-show="CoBrowseForm.FeedName.$error.required">{{"You must select a name." | translate}}</span>
                        <!--<span ng-show="CoBrowseForm.Rating.$error.email">This is not a valid email.</span>-->
                    </label>

                            <input type="text" class="form-control" id="FeedName" name="FeedName" required="" data-ng-model="CobrowseInformation.Name">


                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label for="Password">{{"Description" | translate}}:</label>
                            <input type="text" class="form-control" id="Description" data-ng-model="CobrowseInformation.Description">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{'has-error':(submitted || CoBrowseForm.Discovery.$touched) && CoBrowseForm.Discovery.$error.required }">
                            <label for="Discovery">{{"Presence"| translate}}:</label>
                            <label class="pull-right text-danger" ng-show="submitted || CoBrowseForm.Discovery.$touched">
                        <span ng-show="CoBrowseForm.Discovery.$error.required">{{"You must select a discovery level." | translate}}</span>
                        <!--<span ng-show="CoBrowseForm.Rating.$error.email">This is not a valid email.</span>-->
                    </label>

                            <select name="Discovery" data-ng-model="CobrowseInformation.Configuration.Discovery" required="" class="form-control">
                        <option value="public">{{"Public"| translate}}</option>
                        <option value="private">{{"Private"| translate}}</option>
                        <option value="p2p">{{"Peer"| translate}}</option>
                    </select>


                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{'has-error':(submitted || CoBrowseForm.Rating.$touched) && CoBrowseForm.Rating.$error.required }">
                            <label>{{"Rating"| translate}}</label>
                            <label class="text-danger pull-right" ng-show="submitted || CoBrowseForm.Rating.$touched">
                        <span ng-show="CoBrowseForm.Rating.$error.required">{{"You must select a rating." | translate}}</span>
                        <!--<span ng-show="CoBrowseForm.Rating.$error.email">This is not a valid email.</span>-->
                    </label>
                            <select data-ng-model="CobrowseInformation.Configuration.Rating" name="Rating" required="" class="form-control">
                        <option value="all">{{"All ages"| translate}}</option>
                        <option value="adult">{{"Adults only"| translate}}</option>
                    </select>



                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <a data-ng-click="CoBrowseForm.$sumitted=true;InitCoBrowsing(CoBrowseForm.$invalid)" class="btn btn-primary">{{"Start your new feed" | translate}}</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-primary" ng-if="displayState('Manage.Join',UImode)">

            <div class="panel-body padding10">
                <div class="row container-fluid">
                    <form class="form">
                        <div class="input-group pull-left">
                            <span class="input-group-addon" id="basic-addon1">{{"Find" | translate}}:</span>
                            <input type="text" class="form-control" id="SearchInformationFeedUserName" data-ng-model="SearchInformation.Name">
                            <span class="input-group-btn">
                        <a data-ng-click="Search()" class="btn btn-primary">
                            {{"Find groups & users" | translate}}
                            <juntas-loader ng-if="LoaderState['search']"></juntas-loader>
                        </a>
                    </span>
                        </div>
                    </form>
                </div>




                <div ng-if="SearchInformation.Results">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation" class="active col-md-6 col-sm-6"><a href="#group_results" aria-controls="group_results" role="tab" data-toggle="tab"><span class="badge">{{SearchInformation.Results.tabs.length}}</span> <span class="fa fa-users"></span> {{"Groups" | translate}}</a></li>
                        <li role="presentation" class="col-md-6 col-sm-6"><a href="#users_results" aria-controls="users_results" role="tab" data-toggle="tab"><span class="badge">{{SearchInformation.Results.users.length}}</span> <span class="fa fa-user"></span> {{"Users"  | translate}}</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="group_results">
                            <ul class="list-group scrolled-list">
                                <li class="list-group-item" ng-repeat="item in SearchInformation.Results.tabs">
                                    <div>

                                        <div class="avatar-frame pull-left">

                                            <img ng-src="{{item.User.Picture.data.url}}" />
                                        </div>


                                        <label class="padding5">
                                    <strong> {{item.Name}}</strong>
                                    <small>{{item.Description}}</small>
                                    <span class="fa fa-gamepad icon-big"></span>
                                </label> {{"by" | translate}}

                                        <label>{{item.User.Name}}</label>







                                        <a class="btn btn-info pull-right" data-ng-click="ConnectToFeed(item)">
                                            <span class="fa fa-eye icon-big"></span>
                                            <span class="badge">{{item.Followers.length}}</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div role="tabpanel" class="tab-pane " id="users_results">
                            <div class="list-group scrolled-list">
                                <div class="list-group-item" ng-repeat="item in SearchInformation.Results.users">

                                    <button class="btn btn-success inline-block" ng-click="InitContactCoBrowsing(item)"><i class="fa fa-phone"></i></button>

                                    <button class="btn btn-info inline-block" ng-show="!item.isContact" ng-click="AddContact(item)"><i class="fa fa-plus"></i></button>
                                    <button class="btn btn-danger inline-block" ng-show="item.isContact" ng-click="RemoveContact(item)"><i class="fa fa-remove"></i></button>


                                    <div class="avatar-frame inline-block">
                                        <img ng-src="{{item.Picture.data.url}}" />
                                    </div>


                                    <label class="padding5 inline-block">
                                <strong> {{item.Name}}</strong>
                                <!--<small>
                                    {{item.Description}}


                                </small>-->
                                <!--<span class="fa fa-gamepad icon-big"></span>-->
                            </label>






                                </div>




                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>




</div>