<a class="btn btn-primary xs white" (click)="addRow()">

  + Add Variable</a>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Value</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let variable of variables; let i=index;">
      <th scope="row">
        <input type="text" class="textbox" [(ngModel)]="variable.name"> </th>
      <td>
        <input type="text" class="textbox" [(ngModel)]="variable.value">
      </td>
      <td>   
          <a class="btn btn-success xs" (click)="options(i)">
              <i class="oi oi-list white"></i>
            </a>   
        <a class="btn btn-danger xs" (click)="delRow(i)">
          <i class="oi oi-trash white"></i>
        </a>
      </td>
    </tr>

  </tbody>
</table>