<!doctype html>
<html data-ng-app="JuntasApp" data-ng-csp>

<head>
    <title></title>
    <link href="blog.css" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/css/themes/paper/bootstrap.min.css" rel="stylesheet" id="mainthemefile" />
    <!--<link href="../js/angular-tour/angular-tour.css" rel="stylesheet" />-->
    <!-- inject:style:css -->
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="/bower_components/simplemde/dist/simplemde.min.css">


    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>


    <!-- endinject -->
    <!-- inject:head:js -->
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/recordrtc/RecordRTC.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-gettext/dist/angular-gettext.js"></script>
    <script src="/bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
    <script src="/bower_components/angular-tour/dist/angular-tour-tpls.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/simplemde/dist/simplemde.min.js"></script>
    <script src="/bower_components/simplemde-angular/dist/simplemde-angular.min.js"></script>
    <script src="/bower_components/angular-sticky/dist/angular-sticky.min.js"></script>
    <!-- endinject -->
    <script src="/js/marked/marked.min.js"></script>
    <link rel="stylesheet" href="" id="rtlbootstrapfile">
    <link rel="stylesheet" href="" id="rtlfile">
    <link href="/css/bootstrap-social.css" rel="stylesheet" />
    <link href="/css/bootstrap-switch.css" rel="stylesheet" />
    <script type="text/javascript" src="blog.js"></script>
    <script type="text/javascript" src="bars/blog.bar.directives.js"></script>
    <script type="text/javascript" src="blog-form.js"></script>
    <script src="/app/config/config.js"></script>
    <script src="/js/oauth2/oauth2.js"></script>
    <script type="text/javascript" src="/js/dialogs.js"></script>
    <script type="text/javascript" src="/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="/languages/translations.js"></script>
    <script type="text/javascript" src="/app/directives/progress-bar.js"></script>
    <script type="text/javascript" src="/app/services/languageservice.js"></script>
    <script type="text/javascript" src="/app/js/config.js"></script>

</head>

<body data-ng-csp ng-controller="blogController">


 
    <div class="container-fluid">

        <div class="center-blog">
            <h1>{{blog.Name}}</h1>
            <h4>{{blog.Description}}</h4>


            <general-bar ng-if="edits()===0"></general-bar>
            <post-bar ng-if="edits()>0"></post-bar>

          


            <!-- Initialize Quill editor -->
            <div ng-repeat="blogPost in  blogPosts">
                <div ng-if="!blogPost.edit && !blogPost.hide">
                    <h3> {{blogPost.title}}</h3> <a class="btn btn-default" ng-click="applyEdit(blogPost)"><i class="fa fa-edit"></i></a>

                    <div ng-bind-html="renderMarkdown(blogPost.body)"></div>
                </div>


                <blog-form ng-if="blogPost.edit" post="blogPost"></blog-form>




            </div>




        </div>
    </div>
</body>

</html>