<div class="panel">
    <div class="panel-heading row">
        <div class="col-md-10">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" ng-model="post.title">
            </div>
        </div>
        <div class="col-md-2">
            <label>Status:</label>
            <select ng-model="post.status" style="width: 150px!important;" class="form-control btn btn-primary pull-right" ng-class="{'btn-danger': blog.status==='pending','btn-success': blog.status==='published' }">
                <option ng-value="pending">pending</option>
                <option ng-value="published">published</option>
                    </select>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Post content:</label>
            <textarea id="editor2" simplemde="simplemdeOptions" ng-if="post.edit" ng-model="post.body"></textarea>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>