<div>


    <ng-template #share>
        <div class="modal-body text-center">

            <p>Share your group.</p>
            <pre>{{group.GroupId}}</pre>
            <a type="button" class="btn btn-primary" (click)="decline()">Cancel</a>
        </div>
    </ng-template>

    <ng-template #join>
        <div class="modal-body text-center">
            <p>Join a group.</p>
            <div>
                <label>Group code</label>
                <input type="text" class="form-control" #group_code />
            </div>
            <a type="button" class="btn btn-primary" (click)="JoinConfirm(group_code.value)">Join</a>
            <a type="button" class="btn btn-default" (click)="decline()">Cancel</a>
        </div>
    </ng-template>

    <div class="float-left dropdown" *ngIf="userData && group">
        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{group.Name}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position: absolute">
            <a class="dropdown-item" (click)="setGroup(item)" *ngFor="let item of userData.groups">{{item.Name}}</a>

            <a class="dropdown-item" (click)="JoinGroup(join)">Join group</a>
            <a class="dropdown-item" (click)="ShareGroup(share)">Share group</a>
        </div>

    </div>
</div>